[Unit]
Description=Anova
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/anovamaster
ExecStart=/home/pi/anovamaster/venv/bin/python /home/pi/anovamaster/run.py

[Install]
WantedBy=multi-user.target

